# Data Analysis of Runs and Wickets (DEP1)

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("D:/cricket_dataset/deliveries.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [11]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [12]:
df.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [13]:
df.shape

(260920, 17)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [15]:
df.duplicated().sum()

0

In [16]:
df.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [17]:
columns_to_drop = ['extras_type', 'player_dismissed', 'dismissal_kind', 'fielder']
df = df.drop(columns=columns_to_drop, axis=1)

In [18]:
df.isnull().sum()

match_id        0
inning          0
batting_team    0
bowling_team    0
over            0
ball            0
batter          0
bowler          0
non_striker     0
batsman_runs    0
extra_runs      0
total_runs      0
is_wicket       0
dtype: int64

In [19]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'is_wicket'],
      dtype='object')

In [20]:
# Runs by players
player_match_stats = df.groupby(['batter', 'match_id'])['batsman_runs'].sum().reset_index()

player_stats = player_match_stats.groupby('batter').agg(
    mean_runs=('batsman_runs', 'mean'),
    median_runs=('batsman_runs', 'median'),
    mode_runs=('batsman_runs', lambda x: x.mode()[0] if not x.mode().empty else None),
    total_runs=('batsman_runs', 'sum')
)
player_stats = player_stats.sort_values(by='total_runs', ascending=False)
player_stats.head(20)

                mean_runs  median_runs  mode_runs  total_runs
batter
V Kohli         32.844262         25.0          0        8014
S Dhawan        30.628959         25.0          0        6769
RG Sharma       26.414343         19.0          0        6630
DA Warner       35.690217         33.0          0        6567
SK Raina        27.680000         23.0          2        5536
MS Dhoni        22.995614         21.0          5        5243
AB de Villiers  30.476471         21.5          0        5181
CH Gayle        35.439716         23.0          0        4997
RV Uthappa      25.147208         22.0          1        4954
KD Karthik      20.785408         17.0          0        4843
KL Rahul        38.434426         29.0          0        4689
AM Rahane       27.146199         19.0          0        4642
F du Plessis    33.123188         29.0          0        4571
SV Samson       27.277778         20.0          0        4419
AT Rayudu       23.502703         19.0          0        4348
G Gambhir       27.927152         19.0          0        4217
SR Watson       27.517730         19.0          1        3880
MK Pandey       24.424051         18.5          0        3859
SA Yadav        26.622222         21.0          0        3594
JC Buttler      33.801887         23.5          0        3583

In [21]:
# batting Averages of players

total_runs = df.groupby('batter')['batsman_runs'].sum()
times_out = df[df['is_wicket'] == 1].groupby('batter')['is_wicket'].count()

batsman_stats = pd.DataFrame({'total_runs': total_runs, 'times_out': times_out})

# Calculating the batting average
batsman_stats['batting_average'] = batsman_stats['total_runs'] / batsman_stats['times_out']

batsman_stats = batsman_stats.sort_values(by='total_runs', ascending=False)
batsman_stats.head(20)

                total_runs  times_out  batting_average
batter
V Kohli               8014      218.0        36.761468
S Dhawan              6769      194.0        34.891753
RG Sharma             6630      232.0        28.577586
DA Warner             6567      164.0        40.042683
SK Raina              5536      168.0        32.952381
MS Dhoni              5243      149.0        35.187919
AB de Villiers        5181      125.0        41.448000
CH Gayle              4997      128.0        39.039062
RV Uthappa            4954      184.0        26.923913
KD Karthik            4843      189.0        25.624339
KL Rahul              4689      106.0        44.235849
AM Rahane             4642      156.0        29.756410
F du Plessis          4571      125.0        36.568000
SV Samson             4419      142.0        31.119718
AT Rayudu             4348      152.0        28.605263
G Gambhir             4217      135.0        31.237037
SR Watson             3880      126.0        30.793651
MK Pandey             3859      133.0        29.015038
SA Yadav              3594      112.0        32.089286
JC Buttler            3583       96.0        37.322917

In [22]:
# Calculating total balls faced by each batter
balls_faced = df.groupby('batter').size()

# Calculating total runs, times out, and balls faced
total_runs = df.groupby('batter')['batsman_runs'].sum()
times_out = df[df['is_wicket'] == 1].groupby('batter')['is_wicket'].count()

batsman_stats = pd.DataFrame({
    'total_runs': total_runs,
    'times_out': times_out,
    'balls_faced': balls_faced
})

# Calculating batting average
batsman_stats['batting_average'] = batsman_stats['total_runs'] / batsman_stats['times_out']

# Calculating strike rate
batsman_stats['strike_rate'] = (batsman_stats['total_runs'] / batsman_stats['balls_faced']) * 100

# Calculating total 100s and 50s
player_match_stats = df.groupby(['batter', 'match_id'])['batsman_runs'].sum().reset_index()
player_match_stats['hundreds'] = player_match_stats['batsman_runs'].apply(lambda x: 1 if x >= 100 else 0)
player_match_stats['fifties'] = player_match_stats['batsman_runs'].apply(lambda x: 1 if 50 <= x < 100 else 0)

hundreds = player_match_stats.groupby('batter')['hundreds'].sum()
fifties = player_match_stats.groupby('batter')['fifties'].sum()


batsman_stats['total_hundreds'] = hundreds
batsman_stats['total_fifties'] = fifties
batsman_stats.fillna({'total_hundreds': 0, 'total_fifties': 0}, inplace=True)

batsman_stats = batsman_stats.sort_values(by='total_runs', ascending=False)
batsman_stats.head(20)

,total_runs,times_out,balls_faced,batting_average,strike_rate,total_hundreds,total_fifties
batter,,,,,,,
V Kohli,8014,218.0,6236,36.761468,128.511867,8,56
S Dhawan,6769,194.0,5483,34.891753,123.454313,2,51
RG Sharma,6630,232.0,5183,28.577586,127.918194,2,43
DA Warner,6567,164.0,4849,40.042683,135.429986,4,62
SK Raina,5536,168.0,4177,32.952381,132.535312,1,39
MS Dhoni,5243,149.0,3947,35.187919,132.835065,0,24
AB de Villiers,5181,125.0,3487,41.448000,148.580442,3,41
CH Gayle,4997,128.0,3516,39.039062,142.121729,6,32
RV Uthappa,4954,184.0,3927,26.923913,126.152279,0,27
KD Karthik,4843,189.0,3687,25.624339,131.353404,0,22
KL Rahul,4689,106.0,3578,44.235849,131.050866,4,37
AM Rahane,4642,156.0,3858,29.756410,120.321410,2,30
F du Plessis,4571,125.0,3435,36.568000,133.071325,0,37
SV Samson,4419,142.0,3270,31.119718,135.137615,3,25
AT Rayudu,4348,152.0,3490,28.605263,124.584527,1,22
G Gambhir,4217,135.0,3524,31.237037,119.665153,0,36
SR Watson,3880,126.0,2892,30.793651,134.163209,4,21
MK Pandey,3859,133.0,3288,29.015038,117.366180,1,22
SA Yadav,3594,112.0,2522,32.089286,142.505948,2,24
JC Buttler,3583,96.0,2519,37.322917,142.238984,7,19

## Top 10 best batsman

In [24]:
# finding the best batsman
batsman_stats['composite_score'] = (
    (batsman_stats['total_runs'] / batsman_stats['total_runs'].max()) * 0.25 + 
    (batsman_stats['batting_average'] / batsman_stats['batting_average'].max()) * 0.20 + 
    (batsman_stats['strike_rate'] / batsman_stats['strike_rate'].max()) * 0.20 + 
    (batsman_stats['total_hundreds'] / batsman_stats['total_hundreds'].max()) * 0.15 + 
    (batsman_stats['total_fifties'] / batsman_stats['total_fifties'].max()) * 0.10 +
    ((1 / batsman_stats['times_out']) / (1 / batsman_stats['times_out']).max()) * 0.10
)

# Sorting players by composite score
top_10_players = batsman_stats.sort_values(by='composite_score', ascending=False).head(10)

# Displaying the top 10 players as a table
top_10_players[['total_runs', 'batting_average', 'strike_rate', 'total_hundreds', 'total_fifties', 'balls_faced', 'composite_score']]

,total_runs,batting_average,strike_rate,total_hundreds,total_fifties,balls_faced,composite_score
batter,,,,,,,
V Kohli,8014,36.761468,128.511867,8,56,6236,0.660005
DA Warner,6567,40.042683,135.429986,4,62,4849,0.561763
CH Gayle,4997,39.039062,142.121729,6,32,3516,0.504251
S Dhawan,6769,34.891753,123.454313,2,51,5483,0.493038
AB de Villiers,5181,41.448000,148.580442,3,41,3487,0.478056
KL Rahul,4689,44.235849,131.050866,4,37,3578,0.469799
RG Sharma,6630,28.577586,127.918194,2,43,5183,0.464339
JC Buttler,3583,37.322917,142.238984,7,19,2519,0.454361
SK Raina,5536,32.952381,132.535312,1,39,4177,0.418195
SV Samson,4419,31.119718,135.137615,3,25,3270,0.395948

# Design Document: Determining the Best Batter

## 1. Objective
To design a strategy for evaluating and determining the best batter based on performance metrics derived from IPL data. The evaluation considers statistical performance, consistency, and impact on matches.

## 2. Strategy for Evaluation
The strategy involves analyzing batting performance metrics across various dimensions and assigning weights to these parameters to calculate a composite score for each batter. The batter with the highest score will be deemed the best.

## 3. Features (Parameters) to Be Considered
The following parameters will be analyzed to evaluate batting performance:

- **Total Runs Scored (total_runs):**
  - *Significance:* Indicates overall contribution to the teamâ€™s performance.

- **Batting Average (batting_average):**
  - *Formula:* `total_runs / times_out`
  - *Significance:* Reflects consistency and reliability.

- **Strike Rate (strike_rate):**
  - *Formula:* `(total_runs / balls_faced) * 100`
  - *Significance:* Measures scoring efficiency and impact in limited-over formats.

- **Number of Hundreds (total_hundreds):**
  - *Significance:* Highlights match-defining performances.

- **Number of Fifties (total_fifties):**
  - *Significance:* Indicates ability to provide substantial contributions.

- **Balls Faced (balls_faced):**
  - *Significance:* Helps balance strike rate and contribution over time.

- **Consistency Score (consistency):**
  - *Formula:* Standard deviation of runs across matches.
  - *Significance:* Reflects a player's ability to maintain consistent performance.

## 4. Weight Metrics for Different Parameters
| Parameter         | Weight |
|--------------------|--------|
| Total Runs         | 25%    |
| Batting Average    | 20%    |
| Strike Rate        | 20%    |
| Number of Hundreds | 15%    |
| Number of Fifties  | 10%    |
| Consistency Score  | 10%    |

## 5. Composite Score Calculation
The composite score for each batter is calculated using a weighted sum of normalized values for each parameter.

## 6. Implementation Steps
1. **Data Cleaning and Preprocessing:**
   - Handle missing values.
   - Ensure data consistency (e.g., handling invalid or duplicate entries).

2. **Feature Engineering:**
   - Derive features such as batting average, strike rate, consistency score, and match-level stats.

3. **Normalization:**
   - Normalize each parameter to ensure comparability (e.g., Min-Max scaling).

4. **Weight Application:**
   - Apply weights to calculate the composite score.

5. **Ranking:**
   - Rank batters based on their composite scores.

In [26]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [27]:
team_name_mapping = {
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Rising Pune Supergiants': 'Rising Pune Supergiant',
    'Royal Challengers Bengaluru': 'Royal Challengers Bangalore'
}
df['batting_team'] = df['batting_team'].replace(team_name_mapping)

In [28]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Punjab Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Gujarat Lions', 'Lucknow Super Giants',
       'Gujarat Titans'], dtype=object)

## Overall team batting results

In [30]:
# Runs by teams

team_match_stats = df.groupby(['batting_team', 'match_id'])['total_runs'].sum().reset_index()

team_stats = team_match_stats.groupby('batting_team').agg(
    mean_runs=('total_runs', 'mean'),
    median_runs=('total_runs', 'median'),
    mode_runs=('total_runs', lambda x: x.mode()[0] if not x.mode().empty else None),
    total_runs=('total_runs', 'sum')
)
team_stats = team_stats.sort_values(by='total_runs', ascending=False)
team_stats

                              mean_runs  median_runs  mode_runs  total_runs
batting_team
Mumbai Indians               161.593870        163.0        157       42176
Royal Challengers Bangalore  159.301961        162.0        171       40622
Punjab Kings                 160.975610        163.0        163       39600
Kolkata Knight Riders        156.697211        159.0        171       39331
Delhi Capitals               155.539683        157.0        150       39196
Chennai Super Kings          162.991561        163.0        160       38629
Rajasthan Royals             157.940909        157.0        144       34747
Sunrisers Hyderabad          159.730769        158.5        132       29071
Deccan Chargers              152.840000        153.0        145       11463
Gujarat Titans               172.377778        171.0        168        7757
Lucknow Super Giants         170.681818        170.0        154        7510
Pune Warriors                141.288889        141.0        118        6358
Gujarat Lions                162.066667        162.0        135        4862
Rising Pune Supergiant       151.100000        160.5        160        4533
Kochi Tuskers Kerala         135.785714        138.0        141        1901

In [31]:
# Wickets by players
wickets_data = df[df['is_wicket'] == 1]

bowler_match_wickets = wickets_data.groupby(['bowler', 'match_id'])['is_wicket'].sum().reset_index()

bowler_stats = bowler_match_wickets.groupby('bowler').agg(
    mean_wickets=('is_wicket', 'mean'),
    median_wickets=('is_wicket', 'median'),
    mode_wickets=('is_wicket', lambda x: x.mode()[0] if not x.mode().empty else None),
    total_wickets=('is_wicket', 'sum')
)
bowler_stats = bowler_stats.sort_values(by='total_wickets', ascending=False)

bowler_stats.head(20)

                 mean_wickets  median_wickets  mode_wickets  total_wickets
bowler
YS Chahal            1.745902             1.5             1            213
DJ Bravo             1.754237             2.0             1            207
PP Chawla            1.570312             1.0             1            201
SP Narine            1.680672             1.0             1            200
R Ashwin             1.500000             1.0             1            198
B Kumar              1.695652             1.0             1            195
SL Malinga           2.000000             2.0             1            188
A Mishra             1.710280             1.0             1            183
JJ Bumrah            2.022222             2.0             1            182
RA Jadeja            1.673267             1.0             1            169
UT Yadav             1.811111             2.0             1            163
Harbhajan Singh      1.694737             1.0             1            161
Rashid Khan          1.635417             1.0             1            157
Sandeep Sharma       1.700000             1.0             1            153
HV Patel             1.841463             2.0             1            151
MM Sharma            1.934211             2.0             1            147
Mohammed Shami       1.734940             2.0             1            144
AR Patel             1.439560             1.0             1            131
TA Boult             1.580247             1.0             1            128
R Vinay Kumar        1.867647             2.0             1            127

In [32]:
# Calculating total wickets taken by each bowler
total_wickets = df[df['is_wicket'] == 1].groupby('bowler')['is_wicket'].count()

# Calculating total runs conceded by each bowler
runs_conceded = df.groupby('bowler')['total_runs'].sum()

# Calculating total balls bowled by each bowler
balls_bowled = df[df['extra_runs'] == 0].groupby('bowler').size()

# Calculating economy rate
economy_rate = runs_conceded / (balls_bowled / 6)

# Calculating bowling average
bowling_average = runs_conceded / total_wickets

# Calculating strike rate
bowling_strike_rate = balls_bowled / total_wickets


bowler_stats = pd.DataFrame({
    'total_wickets': total_wickets,
    'runs_conceded': runs_conceded,
    'balls_bowled': balls_bowled,
    'economy_rate': economy_rate,
    'bowling_average': bowling_average,
    'bowling_strike_rate': bowling_strike_rate
})
bowler_stats = bowler_stats.sort_values(by='total_wickets', ascending=False)
bowler_stats.head(20)

,total_wickets,runs_conceded,balls_bowled,economy_rate,bowling_average,bowling_strike_rate
bowler,,,,,,
YS Chahal,213.0,4681,3469,8.096281,21.976526,16.286385
DJ Bravo,207.0,4436,3064,8.686684,21.429952,14.801932
PP Chawla,201.0,5179,3817,8.140948,25.766169,18.990050
SP Narine,200.0,4672,4019,6.974869,23.360000,20.095000
R Ashwin,198.0,5435,4470,7.295302,27.449495,22.575758
B Kumar,195.0,5051,3813,7.948072,25.902564,19.553846
SL Malinga,188.0,3486,2754,7.594771,18.542553,14.648936
A Mishra,183.0,4193,3336,7.541367,22.912568,18.229508
JJ Bumrah,182.0,3840,3003,7.672328,21.098901,16.500000
RA Jadeja,169.0,4917,3784,7.796512,29.094675,22.390533
UT Yadav,163.0,4442,2981,8.940624,27.251534,18.288344
Harbhajan Singh,161.0,4101,3367,7.307989,25.472050,20.913043
Rashid Khan,157.0,3340,2820,7.106383,21.273885,17.961783
Sandeep Sharma,153.0,3758,2787,8.090420,24.562092,18.215686
HV Patel,151.0,3215,2115,9.120567,21.291391,14.006623
MM Sharma,147.0,3278,2232,8.811828,22.299320,15.183673
Mohammed Shami,144.0,3486,2382,8.780856,24.208333,16.541667
AR Patel,131.0,3824,3059,7.500490,29.190840,23.351145
TA Boult,128.0,3286,2307,8.546164,25.671875,18.023438
R Vinay Kumar,127.0,3041,2089,8.734323,23.944882,16.448819

## Top 10 best bowlers

In [34]:
# Finding the best bowlers
bowler_stats['composite_score'] = (
    (bowler_stats['total_wickets'] / bowler_stats['total_wickets'].max()) * 0.30 + 
    ((1 / bowler_stats['economy_rate']) / (1 / bowler_stats['economy_rate']).max()) * 0.25 + 
    ((1 / bowler_stats['bowling_average']) / (1 / bowler_stats['bowling_average']).max()) * 0.20 + 
    ((1 / bowler_stats['bowling_strike_rate']) / (1 / bowler_stats['bowling_strike_rate']).max()) * 0.25
)

top_10_bowlers = bowler_stats.sort_values(by='composite_score', ascending=False).head(10)
top_10_bowlers[['total_wickets', 'economy_rate', 'bowling_average', 'bowling_strike_rate', 'composite_score']]

,total_wickets,economy_rate,bowling_average,bowling_strike_rate,composite_score
bowler,,,,,
YS Chahal,213.0,8.096281,21.976526,16.286385,0.315350
DJ Bravo,207.0,8.686684,21.429952,14.801932,0.308439
PP Chawla,201.0,8.140948,25.766169,18.990050,0.296263
SP Narine,200.0,6.974869,23.360000,20.095000,0.294131
R Ashwin,198.0,7.295302,27.449495,22.575758,0.289947
B Kumar,195.0,7.948072,25.902564,19.553846,0.287433
SL Malinga,188.0,7.594771,18.542553,14.648936,0.281855
JJ Bumrah,182.0,7.672328,21.098901,16.500000,0.271490
A Mishra,183.0,7.541367,22.912568,18.229508,0.271461
RA Jadeja,169.0,7.796512,29.094675,22.390533,0.249194

# Design Document: Determining the Best Bowler

## 1. Objective
To design a strategy for evaluating and determining the best bowler based on performance metrics derived from IPL data. The evaluation considers efficiency, consistency, and match impact.

## 2. Strategy for Evaluation
The strategy involves analyzing bowling performance metrics and assigning weights to these parameters to compute a composite score for each bowler. The bowler with the highest composite score will be identified as the best.

## 3. Features (Parameters) to Be Considered
The following parameters will be used for evaluation:

- **Total Wickets Taken (total_wickets):**
  - *Significance:* Indicates the bowlerâ€™s effectiveness in taking wickets.

- **Economy Rate (economy_rate):**
  - *Formula:* `runs_conceded / (balls_bowled / 6)`
  - *Significance:* Measures the bowler's efficiency in containing runs.

- **Bowling Average (bowling_average):**
  - *Formula:* `runs_conceded / total_wickets`
  - *Significance:* Reflects the cost of taking wickets.

- **Bowling Strike Rate (bowling_strike_rate):**
  - *Formula:* `balls_bowled / total_wickets`
  - *Significance:* Measures how frequently the bowler takes wickets.

- **Balls Bowled (balls_bowled):**
  - *Significance:* Highlights the workload and reliability.

## 4. Weight Metrics for Different Parameters
| Parameter              | Weight |
|-------------------------|--------|
| Total Wickets          | 30%    |
| Economy Rate           | 25%    |
| Bowling Average        | 20%    |
| Bowling Strike Rate    | 25%    |

## 5. Composite Score Calculation
The composite score for each bowler will be calculated using the weighted sum of normalized values for each parameter.

### Normalization
Each parameter will be normalized using Min-Max scaling or inverse scaling for parameters where lower values are better (e.g., economy rate).

## 6. Implementation Steps
1. **Data Cleaning and Preprocessing:**
   - Handle missing or invalid values.
   - Ensure accurate filtering of bowling-related metrics (e.g., excluding extras for balls bowled).

2. **Feature Engineering:**
   - Derive features like economy rate, bowling average, and strike rate.

3. **Normalization and Weighting:**
   - Normalize metrics and apply weights to compute the composite score.

4. **Ranking:**
   - Rank bowlers based on the composite score.

In [36]:
df['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Chennai Super Kings', 'Delhi Daredevils',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [37]:
team_name_mapping = {
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Rising Pune Supergiants': 'Rising Pune Supergiant',
    'Royal Challengers Bengaluru': 'Royal Challengers Bangalore'
}
df['bowling_team'] = df['bowling_team'].replace(team_name_mapping)

In [38]:
df['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Punjab Kings', 'Chennai Super Kings', 'Delhi Capitals',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Gujarat Lions', 'Gujarat Titans',
       'Lucknow Super Giants'], dtype=object)

## Overall team bowling results

In [40]:
# Wickets by team
team_match_wickets = df.groupby(['bowling_team', 'match_id'])['is_wicket'].sum().reset_index()

team_stats = team_match_wickets.groupby('bowling_team').agg(
    mean_wickets=('is_wicket', 'mean'),
    median_wickets=('is_wicket', 'median'),
    mode_wickets=('is_wicket', lambda x: x.mode()[0] if not x.mode().empty else None),
    total_wickets=('is_wicket', 'sum')
)
team_stats = team_stats.sort_values(by='total_wickets', ascending=False)

team_stats

,mean_wickets,median_wickets,mode_wickets,total_wickets
bowling_team,,,,
Mumbai Indians,6.095785,6.0,7,1591
Delhi Capitals,5.968127,6.0,4,1498
Royal Challengers Bangalore,5.881890,6.0,5,1494
Chennai Super Kings,6.222689,6.0,4,1481
Kolkata Knight Riders,5.832669,6.0,6,1464
Punjab Kings,5.735772,6.0,4,1411
Rajasthan Royals,5.778281,6.0,5,1277
Sunrisers Hyderabad,5.901099,6.0,7,1074
Deccan Chargers,5.946667,6.0,7,446
Gujarat Titans,6.622222,7.0,7,298
Lucknow Super Giants,6.139535,6.0,6,264
Pune Warriors,5.173913,5.0,3,238
Rising Pune Supergiant,6.300000,7.5,8,189
Gujarat Lions,5.033333,5.0,5,151
Kochi Tuskers Kerala,5.285714,5.5,4,74