In [ ]:
import pandas as pd
deliveries_df = pd.read_csv("deliveries.csv")
player_runs_stats = {
    "Mean": deliveries_df["batsman_runs"].mean(),
    "Median": deliveries_df["batsman_runs"].median(),
    "Mode": deliveries_df["batsman_runs"].mode()[0],
}
print("Player Runs Statistics:")
print(player_runs_stats)

team_runs_stats = deliveries_df.groupby("batting_team")["total_runs"].agg(["mean", "median"])
team_runs_stats["mode"] = deliveries_df.groupby("batting_team")["total_runs"].apply(lambda x: x.mode().iloc[0])
print("\nTeam Runs Statistics:")
print(team_runs_stats)


wickets_df = deliveries_df[deliveries_df["is_wicket"] == 1]


wickets_stats = {
    "Mean": wickets_df["is_wicket"].mean(),
    "Median": wickets_df["is_wicket"].median(),
    "Mode": wickets_df["is_wicket"].mode()[0],
}

print("\nWickets Statistics:")
print(wickets_stats)

Player Runs Statistics:
{'Mean': np.float64(1.265000766518473), 'Median': np.float64(1.0), 'Mode': np.int64(0)}

Team Runs Statistics:
                                 mean  median  mode
batting_team
Chennai Super Kings          1.348260     1.0     1
Deccan Chargers              1.268873     1.0     1
Delhi Capitals               1.361228     1.0     1
Delhi Daredevils             1.293304     1.0     1
Gujarat Lions                1.363432     1.0     1
Gujarat Titans               1.411904     1.0     1
Kings XI Punjab              1.327563     1.0     1
Kochi Tuskers Kerala         1.201643     1.0     1
Kolkata Knight Riders        1.332622     1.0     1
Lucknow Super Giants         1.390741     1.0     1
Mumbai Indians               1.341604     1.0     1
Pune Warriors                1.168106     1.0     1
Punjab Kings                 1.395580     1.0     1
Rajasthan Royals             1.324099     1.0     1
Rising Pune Supergiant       1.300000     1.0     1
Rising Pune Supergiants      1.305696     1.0     1
Royal Challengers Bangalore  1.336359     1.0     1
Royal Challengers Bengaluru  1.611661     1.0     1
Sunrisers Hyderabad          1.330907     1.0     1

Wickets Statistics:
{'Mean': np.float64(1.0), 'Median': np.float64(1.0), 'Mode': np.int64(1)}

In [4]:
player_runs_stats = {
    "Mean": deliveries_df[deliveries_df["batting_team"] == "Kolkata Knight Riders"]["total_runs"].mean(),
    "Median": deliveries_df[deliveries_df["batting_team"] == "Kolkata Knight Riders"]["total_runs"].median(),
    "Mode": deliveries_df[deliveries_df["batting_team"] == "Kolkata Knight Riders"]["total_runs"].mode()[0],
}
print(player_runs_stats)

{'Mean': np.float64(1.3326218066002575), 'Median': np.float64(1.0), 'Mode': np.int64(1)}

In [3]:
deliveries_df.groupby("batting_team").total_runs.mean()

batting_team
Chennai Super Kings            1.348260
Deccan Chargers                1.268873
Delhi Capitals                 1.361228
Delhi Daredevils               1.293304
Gujarat Lions                  1.363432
Gujarat Titans                 1.411904
Kings XI Punjab                1.327563
Kochi Tuskers Kerala           1.201643
Kolkata Knight Riders          1.332622
Lucknow Super Giants           1.390741
Mumbai Indians                 1.341604
Pune Warriors                  1.168106
Punjab Kings                   1.395580
Rajasthan Royals               1.324099
Rising Pune Supergiant         1.300000
Rising Pune Supergiants        1.305696
Royal Challengers Bangalore    1.336359
Royal Challengers Bengaluru    1.611661
Sunrisers Hyderabad            1.330907
Name: total_runs, dtype: float64

In [5]:
deliveries_df.groupby("batter")["batsman_runs"].sum()

batter
A Ashish Reddy     280
A Badoni           634
A Chandila           4
A Chopra            53
A Choudhary         25
                  ...
Yashpal Singh       47
Younis Khan          3
Yudhvir Singh       22
Yuvraj Singh      2754
Z Khan             117
Name: batsman_runs, Length: 673, dtype: int64

In [6]:
batter_stats = deliveries_df.groupby('batter').agg(
    total_runs=('batsman_runs', 'sum'),
    times_out=('is_wicket', 'sum')
).reset_index()
batter_stats

             batter  total_runs  times_out
0    A Ashish Reddy         280         15
1          A Badoni         634         26
2        A Chandila           4          1
3          A Chopra          53          5
4       A Choudhary          25          2
..              ...         ...        ...
668   Yashpal Singh          47          4
669     Younis Khan           3          1
670   Yudhvir Singh          22          4
671    Yuvraj Singh        2754        109
672          Z Khan         117         15

[673 rows x 3 columns]

In [ ]:
batter_stats['average'] = batter_stats.apply(lambda x: x['total_runs'] / x['times_out'] if x['times_out'] > 0 else None,axis=1)
batter_stats

             batter  total_runs  times_out    average
0    A Ashish Reddy         280         15  18.666667
1          A Badoni         634         26  24.384615
2        A Chandila           4          1   4.000000
3          A Chopra          53          5  10.600000
4       A Choudhary          25          2  12.500000
..              ...         ...        ...        ...
668   Yashpal Singh          47          4  11.750000
669     Younis Khan           3          1   3.000000
670   Yudhvir Singh          22          4   5.500000
671    Yuvraj Singh        2754        109  25.266055
672          Z Khan         117         15   7.800000

[673 rows x 4 columns]

In [9]:
import pandas as pd
deliveries_df = pd.read_csv("deliveries.csv")
player_stats = deliveries_df.groupby("batter").agg(
    Total_Runs=("batsman_runs", "sum"),
    Balls_Faced=("ball", "count"),
    Dismissals=("player_dismissed", "count")
).reset_index()
print(player_stats)

             batter  Total_Runs  Balls_Faced  Dismissals
0    A Ashish Reddy         280          196          15
1          A Badoni         634          505          26
2        A Chandila           4            7           1
3          A Chopra          53           75           5
4       A Choudhary          25           20           2
..              ...         ...          ...         ...
668   Yashpal Singh          47           67           4
669     Younis Khan           3            7           1
670   Yudhvir Singh          22           16           4
671    Yuvraj Singh        2754         2207         109
672          Z Khan         117          141          15

[673 rows x 4 columns]

In [ ]:

player_stats["Batting Average"] = player_stats["Total_Runs"] / player_stats["Dismissals"]
player_stats["Batting Average"].fillna(0, inplace=True)


player_stats["Strike Rate"] = (player_stats["Total_Runs"] / player_stats["Balls_Faced"]) * 100
print(player_stats)

centuries = deliveries_df.groupby(["batter", "match_id"]).agg(Innings_Runs=("batsman_runs", "sum")).reset_index()
centuries_summary = centuries.groupby("batter").agg(
    Centuries=("Innings_Runs", lambda x: (x >= 100).sum()),
    Fifties=("Innings_Runs", lambda x: ((x >= 50) & (x < 100)).sum())
).reset_index()
print(centuries_summary)
#  Core Parameters:
#  Batting Average: [ {Batting Average} = {Total Runs Scored}/
#  {Number of Dismissals} ]
#  High averages indicate consistency.
#  Strike Rate: [ {Strike Rate} = ({{Total Runs Scored}}/
#  {{Balls Faced}}) *100 ]
#  Captures the batter's ability to score quickly.
#  Centuries (100's):
#  Count of individual innings where the batter scored 100 or more runs.
#  Fifties (50's):
#  Count of individual innings where the batter scored between 50 and 99
#  runs

C:\Users\Navya Sree\AppData\Local\Temp\ipykernel_960\626638170.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  player_stats["Batting Average"].fillna(0, inplace=True)

             batter  Total_Runs  Balls_Faced  Dismissals  Batting Average  \
0    A Ashish Reddy         280          196          15        18.666667
1          A Badoni         634          505          26        24.384615
2        A Chandila           4            7           1         4.000000
3          A Chopra          53           75           5        10.600000
4       A Choudhary          25           20           2        12.500000
..              ...         ...          ...         ...              ...
668   Yashpal Singh          47           67           4        11.750000
669     Younis Khan           3            7           1         3.000000
670   Yudhvir Singh          22           16           4         5.500000
671    Yuvraj Singh        2754         2207         109        25.266055
672          Z Khan         117          141          15         7.800000

     Strike Rate
0     142.857143
1     125.544554
2      57.142857
3      70.666667
4     125.000000
..           ...
668    70.149254
669    42.857143
670   137.500000
671   124.784776
672    82.978723

[673 rows x 6 columns]
             batter  Centuries  Fifties
0    A Ashish Reddy          0        0
1          A Badoni          0        4
2        A Chandila          0        0
3          A Chopra          0        0
4       A Choudhary          0        0
..              ...        ...      ...
668   Yashpal Singh          0        0
669     Younis Khan          0        0
670   Yudhvir Singh          0        0
671    Yuvraj Singh          0       13
672          Z Khan          0        0

[673 rows x 3 columns]

In [ ]:

player_stats = player_stats.merge(centuries_summary, on="batter", how="left")
player_stats.fillna(0, inplace=True)  
print(player_stats)

metrics = ["Batting Average", "Strike Rate", "Centuries", "Fifties"]
normalized_metrics = {}
for metric in metrics:
    normalized_metrics[f"Normalized {metric}"] = (player_stats[metric] / player_stats[metric].max()) * 100
print(normalized_metrics)

for metric, normalized in normalized_metrics.items():
    player_stats[metric] = normalized
print(player_stats)

weights = {
    "Batting Average": 0.3,
    "Strike Rate": 0.4,
    "Centuries": 0.15,
    "Fifties": 0.05,
}


player_stats["Overall Score"] = (
    player_stats["Normalized Batting Average"] * weights["Batting Average"] +
    player_stats["Normalized Strike Rate"] * weights["Strike Rate"] +
    player_stats["Normalized Centuries"] * weights["Centuries"] +
    player_stats["Normalized Fifties"] * weights["Fifties"]
)
print(player_stats)
#assumed weights (initial weights)
# batting Average (30%): Measures consistency by dividing total runs by
#  dismissals.
#  Strike Rate (40%): Reflects the batter's ability to score quickly, critical in
#  T20 cricket.
#  Centuries (100's) (15%): Highlights match-winning capabilities.
#  Fifties (50's) (5%): Indicates the batterâ€™s ability to contribute consistently

             batter  Total_Runs  Balls_Faced  Dismissals  Batting Average  \
0    A Ashish Reddy         280          196          15        18.666667
1          A Badoni         634          505          26        24.384615
2        A Chandila           4            7           1         4.000000
3          A Chopra          53           75           5        10.600000
4       A Choudhary          25           20           2        12.500000
..              ...         ...          ...         ...              ...
668   Yashpal Singh          47           67           4        11.750000
669     Younis Khan           3            7           1         3.000000
670   Yudhvir Singh          22           16           4         5.500000
671    Yuvraj Singh        2754         2207         109        25.266055
672          Z Khan         117          141          15         7.800000

     Strike Rate  Centuries_x  Fifties_x  Normalized Batting Average  \
0     142.857143            0          0                         0.0
1     125.544554            0          4                         0.0
2      57.142857            0          0                         0.0
3      70.666667            0          0                         0.0
4     125.000000            0          0                         0.0
..           ...          ...        ...                         ...
668    70.149254            0          0                         0.0
669    42.857143            0          0                         0.0
670   137.500000            0          0                         0.0
671   124.784776            0         13                         0.0
672    82.978723            0          0                         0.0

     Normalized Strike Rate  Normalized Centuries  Normalized Fifties  \
0                 47.619048                   0.0            0.000000
1                 41.848185                   0.0            6.451613
2                 19.047619                   0.0            0.000000
3                 23.555556                   0.0            0.000000
4                 41.666667                   0.0            0.000000
..                      ...                   ...                 ...
668               23.383085                   0.0            0.000000
669               14.285714                   0.0            0.000000
670               45.833333                   0.0            0.000000
671               41.594925                   0.0           20.967742
672               27.659574                   0.0            0.000000

     Overall Score  Centuries_y  Fifties_y
0        19.047619            0          0
1        17.061855            0          4
2         7.619048            0          0
3         9.422222            0          0
4        16.666667            0          0
..             ...          ...        ...
668       9.353234            0          0
669       5.714286            0          0
670      18.333333            0          0
671      17.686357            0         13
672      11.063830            0          0

[673 rows x 15 columns]

KeyError: 'Centuries'

In [ ]:
# Rank players based on Overall Score
player_stats["Rank"] = player_stats["Overall Score"].rank(ascending=False)

top_players = player_stats.sort_values(by="Rank").head(10)
top_players[["batter", "Overall Score", "Rank"]]


 #Overall Score:
 #The Overall Score is computed as: [ {Overall Score} = summation of ({NormalizedMetric}*{Weight}) ]
 #Example:
 #If a player has:  Average: 55, Strike Rate: 140, Centuries: 4, Fifties: 6 And the best values in the dataset are:  Average: 60, Strike Rate: 150, Centuries:5, Fifties: 8
 #The normalized metrics will be: - Normalized Average = ( {55}/{60}* 100 =91.67 ) - Normalized Strike Rate = ( {140}/{150}*  100 = 93.33 ) Normalized Centuries = ( {4}/{5}* 100 = 80 ) - Normalized Fifties = ({6}/{8}* 100 = 75 )
 #Using weights, the Overall Score: [ {Overall Score} = (91.67 * 0.3) + (93.33* 0.4) + (80 * 0.15) + (75 * 0.05) = 88.33 ]

              batter  Overall Score  Rank
631          V Kohli      36.651045   1.0
242       JC Buttler      33.622456   2.0
124         CH Gayle      32.780209   3.0
147        DA Warner      30.557331   4.0
234  J Fraser-McGurk      29.655914   5.0
461    R Sai Kishore      28.888889   6.0
30    AB de Villiers      28.742177   7.0
289         KL Rahul      27.957320   8.0
629         Umar Gul      27.368421   9.0
564        SR Watson      27.081976  10.0